.hero p {
margin-bottom: 48px;
}

.white-card {
    display: block;
}

.intro p {
    font-size: 2rem;
    line-height: 150%;
}

.intro aside {
    font-size: 2.4rem;
    font-style: italic;
    margin-bottom: 2.4rem;
    font-weight: lighter;
}

.intro .white-card {
    padding-top: 5.6rem;
}

.sidenav {
    background-color: none;
    opacity: 1;
}

.intro {
    padding-top: 8rem !important;
    padding-bottom: 8rem;;
}

.intro img {
    width: 75%;
    margin: 0 auto;
}

.intro aside {
    color: whitesmoke;
    border-left: 2px solid purple;
    padding-left: 1.2rem;
    margin-bottom: 2.4rem;
}



@media (min-width: 768px) {
    img {
        width: 75%;
    }

}