@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
    padding-top: 8rem;
}
.contact-form {
    font-size: 2rem;
    font-family: "Jost";
}

label,input{
    display:flex;
    flex-direction:column;
  }

  input, textarea, select {
    width: 100%;
    border-radius: 8px;
  }

.contact-form button {
    border-radius: 8px;
    padding: 12px;
    font-size: 2rem;
    min-width: 300px;
    background: #524D64;
    color: white;
    font-family: "Jost";

    filter: brightness(1.0);
}

.contact-form button:hover {
    filter: brightness(1.5);
}

.contact-form textarea {
    min-height: 200px;
}

form textarea {
    margin-bottom: 24px;
}

@media (min-width: 768px) {
    form {
        width: 80%;
        margin: 0 auto;
    }
}