@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* Animation */

/* https://codepen.io/whusterj/pres/bdYKop */

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: -15px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, -5px); }
    to   { transform: translate(0, -0px); }    
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans';
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

/* Global CSS */

body {
    overflow-x:hidden!important;
}

h2 {
    font-family: "Roboto Condensed";
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;
    color: #4b4b4b;
}

h3 {
    font-size: 18px;
}

.center {
    text-align: center;
}

.left {
    text-align: left !important;
}

.projects .intro h1 {
    margin-bottom: 24px;
}

.projects .intro aside {
    margin-bottom: 24px;
}

.projects .intro img {
    border: 4px solid white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.projects .intro p {
    font-size: 20px;
}

.projects .intro button {
    padding: 16px 8px;
    font-size: 20px;
    background: rgba(155, 155, 155, 0.5);
    color: white;
    border-radius: 100px;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
}

.projects .intro button:hover {
    color: #ABFFB3;
}

.accent-green {
    color: #ABFFB3;
}

.container-fluid {
    width: 90%;
}

.full-height {
    height: 100vh;
}

.small-caption {
    font-size: 1.4rem;
    color: #4c4c4c !important;
}

.main-content img:hover {
    cursor: pointer;
}

.custom-list {
    list-style: none;
    padding-left: 0;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}
.custom-list li {
    font-family: 'Roboto';
    font-size: 1.8rem;
    font-style: italic;
    position: relative;
    padding: 0.8rem 0rem 0.8rem 2rem;
}
.custom-list li:before {
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-image: url('/images/bullet.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.p-large {
    font-family: "Roboto Condensed";
    font-size: 4.5rem !important;
}

/* Text colors */

.primary-color {
    color: #2c2c2c !important;
}

.secondary-color {
    color: #4b4b4b !important;
}

.tertiary-color {
    color: #6e6e6e !important;
}

.white-color {
    color: whitesmoke;
}

/* Mobile */

.hide-sm {
    display: none;
}

.sidenav {
    opacity: 0;
}

.sidenav-sm {
    z-index: 1;
    width: 100%;
    position: fixed !important;
    top: 0;
    padding-top: 2.4rem;
    transition: 0.5s linear;
    height: auto;
}

.sidenav-sm .open {
    height: 75vh;
    transition: 0.5s linear;
}

.sidenav-sm {
    font-family: "Roboto Condensed";
    padding: 1.2rem;
    padding-left: 2.4rem;
    font-size: 1.8rem;
    box-sizing: 2px 2px 4px lightgray;
}

.sidenav-sm a {
    color: #2c2c2c;
}

.sidenav-sm ul {
    list-style: none;
    padding-left: 0;
    margin-top: 1.6rem;
}

.sidenav-sm li {
    margin-bottom: 1.2rem;
}

.sidenav-sm img {
    width: 50px;
}

.sidenav-sm .hamburger-sm {
    font-size: 3.2rem;
    color: #6e6e6e;
}

.sidenav-sm .links {
    display: none;
}

.open .hamburger-sm {
    padding-bottom: 1.6rem;
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 2.4rem;
}

.hamburger-sm {
    cursor: pointer;
}

.sidenav-sm .active {
    color: purple;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: lavender;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-wrapper img {
    width: 100px;
    animation: rotation 2s infinite;
    -webkit-animation: rotation 2s infinite;
}

.disable-scrolling {
    overflow: hidden;
    height: 100%;
}

@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

/* Sidenav */

@media (min-width: 768px) {

    .hide-sm {
        display: block;
    }

    .hide-lg {
        display: none !important;
    }

    .sidenav {
        font-size: 1.8rem;
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 15%; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 9.6rem;
        padding-left: 0rem;
        opacity: 0;
    
        font-family: "Roboto Condensed";
    
    }
    
    .sidenav li {
        list-style: none;
        text-transform: uppercase;
        letter-spacing: 10%;
        color: #2C2C2C;
        margin-bottom: 1.6rem;
    }

    .sidenav li img {
        padding-bottom: 0;
        border-bottom: 0;
    }
    
    .sidenav .active {
        color: purple !important;
    }

    .sidenav a {
        color: #2C2C2C;
    }

    .sidenav .links img {
        width: 40px;
        margin: 0 auto;
    }

}