@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');



/* Animation */

/* https://codepen.io/whusterj/pres/bdYKop */

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: -15px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, -5px); }
    to   { transform: translate(0, -0px); }    
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans';
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

html {
    font-family: "Jost" !important;
}

body {
    font-family: "Jost" !important;

}

.hero {
    padding-top: 72px;
}

/* Global Fonts */

h2 {
    font-size: 2.6rem;
    letter-spacing: 1.18rem;
    text-transform: uppercase;
    
}


h3 {
    font-size: 2.6rem;
    letter-spacing: 0;
    text-transform: uppercase;
}

p {
    line-height: 150%;
}

h1 {
    font-size: 5.625rem;
}

p {
    font-size: 2.06rem;
}

.p-small {
    font-size: 1.75rem;
}

b {
    font-style: bold;
}

.italic {
    font-style: italic;
}

.highlight {
    background-color: #E3E9FF;
}

.strip {
    background-color: #E3E9FF;
    /* background-size: 100px; */
    color: rgba(0,0,0,0);
    margin-bottom: -32px;
    margin-left: 24px;
    width: 50%;

}

.quote {
    padding: 2rem;
    border-radius: 16px;
    margin-bottom: 24px;
}


/* Global CSS */

body {
    overflow-x:hidden!important;
}


.center {
    text-align: center;
}

.left {
    text-align: left !important;
}

.middle {
    vertical-align: middle;
}

.inline {
    display: inline-block;
}

/* Spacing */

section {
    margin-bottom: 10rem;
}

.subsection {
    margin-bottom: 5rem;
}

section {
    padding: 0px 3rem;
}

h2, h3, h4 {
    /* Mobile */
    margin-bottom: 16px;
}

.extraspace {
    margin-bottom: 24px;
}

.space-24 {
    margin-bottom: 24px;
}
.space-48 {
    margin-bottom: 48px;
}

/* Text colors */

.primary-color {
    color: #2c2c2c !important;
}

.secondary-color {
    color: #4b4b4b !important;
}

.tertiary-color {
    color: #6e6e6e !important;
}

.color-red {
    color: #83211A;
}

.white-color {
    color: whitesmoke;
}

.linear-purple {
    background: linear-gradient(#EEE7FF, #DDE9FF);
}

.dropshadow {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Footer */

.footer {
    background-color: #524D64;
    background-image: url('/2023/hero.png');
    background-position: center;
    color: white;

    padding: 4rem 1rem;
}

.footer button {
    font-size: 2.5rem;
    color: white;
    background: none;
    padding: 1rem 2rem !important;
    border: 2px solid white;
    animation-duration: 0.3s;
}

.footer button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    animation-duration: 0.3s;
}

.footer h2, .footer button, .footer p {
    margin-bottom: 24px;
}

.footer img {
    max-width: 48px;
    margin: 0px 2rem 0px 2rem;

    scale: 1.0;
    transition: scale 0.3s ease-out;
}

.footer img:hover {
    transition: scale 0.3s ease-in;
    scale: 1.2;
}

.footer .row {
    display: flex;
}

main {
    min-height: 100%;
}

/* Navbar */

.navbar {
    font-size: 1.5rem;
}

/* Mobile */

.hide-sm {
    display: none;
}

.sidenav {
    opacity: 0;
}

.sidenav-sm {
    z-index: 1;
    width: 100%;
    position: fixed !important;
    top: 0;
    padding-top: 2.4rem;
    transition: 0.5s linear;
    height: auto;
}

.sidenav-sm .open {
    height: 75vh;
    transition: 0.5s linear;
}

.sidenav-sm {
    font-family: "Roboto Condensed";
    padding: 1.2rem;
    padding-left: 2.4rem;
    font-size: 1.8rem;
    box-sizing: 2px 2px 4px lightgray;
}

.sidenav-sm a {
    color: #2c2c2c;
}

.sidenav-sm ul {
    list-style: none;
    padding-left: 0;
    margin-top: 1.6rem;
}

.sidenav-sm li {
    margin-bottom: 1.2rem;
}

.sidenav-sm img {
    width: 50px;
}

.sidenav-sm .hamburger-sm {
    font-size: 3.2rem;
    color: #6e6e6e;
}

.sidenav-sm .links {
    display: none;
}

.open .hamburger-sm {
    padding-bottom: 1.6rem;
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 2.4rem;
}

.hamburger-sm {
    cursor: pointer;
}

.sidenav-sm .active {
    color: purple;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: lavender;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.loader-wrapper img {
    width: 100px;
    animation: rotation 2s infinite;
    -webkit-animation: rotation 2s infinite;
}

.disable-scrolling {
    overflow: hidden !important;
    height: 100%;
}

.project-tools img {
    filter: brightness(1.1);
    filter: grayscale(1.0);
    max-width: 75px;
    cursor: default;
}

img {
    width: 100%;
}


@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

/* Sidenav */

@media (min-width: 768px) {

    .hero {
        padding-top: 0px;
    }

    h2, h3, h4 {
        margin-bottom: 16px;
    }

    h2 {
        margin-bottom: 24px;
    }

    h3 {
        margin-bottom: 12px;
    }

    section {
        padding: 0px 6rem;
    }

    .subsection {
        margin-bottom: 3rem;
    }

    .landing .p-large {
        font-size: 3.5rem;
    }

    .hide-sm {
        display: block;
    }

    .hide-lg {
        display: none !important;
    }

    .sidenav {
        font-size: 1.8rem;
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 15%; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 9.6rem;
        padding-left: 0rem;
        opacity: 0;
    
        font-family: "Jost";
    
    }
    
    .sidenav li {
        list-style: none;
        text-transform: uppercase;
        letter-spacing: 10%;
        color: #2C2C2C;
        margin-bottom: 1.6rem;
    }

    .sidenav li img {
        padding-bottom: 0;
        border-bottom: 0;
    }
    
    .sidenav .active {
        color: purple !important;
    }

    .sidenav a {
        color: #2C2C2C;
    }

    .sidenav .links img {
        width: 40px;
        margin: 0 auto;
    }

}

@media (min-width: 1336px) {
    .landing .p-large {
        font-size: 4rem !important
    }
}

@media (min-width: 2560px) {

    .landing .p-large {
        font-size: 8rem !important
    }

}