@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    width: 100%;
    font-family: 'Roboto';
    letter-spacing: 2%;
    font-size: 16px;

    background-color: whitesmoke;
}

p {
    font-family: 'Roboto', sans-serif;
}

.intro {
    background-image: url('/images/index/background.jpg');
    min-height: 100vh !important;
    padding-top: 2.4rem;
    padding-left: 1.2rem;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}

.intro h1 {
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    font-weight: lighter;
    color: white;
    margin-bottom: 1.2rem;
    font-weight: 1.8rem;
}

#gif {
    margin-bottom: 3.2rem;
}

/* Cycling text */
.intro h2 {
    height: 100%;
    writing-mode: vertical-rl;
    position: absolute;
    margin-left: 7.2rem;
    top: 0rem;
}

.intro h2 {
    font-size: 1.6rem;
    margin-top: 1.2rem;
}

.intro p {
    color: whitesmoke;
    font-size: 2.4rem;
}

.white-card {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
    padding-left: 7.2rem !important;
    padding-right: 4.8rem;
    padding-top: 10rem;
}

.white-card img {
    max-width: 150px;
    margin-bottom: 4.8rem;
}

h2 {
    margin-top: 16px;
    margin-bottom: 48px;
}

.main-content {
    background-color: whitesmoke;
    width: 100%;
}

.design-delights img {
    width: 65%;
}

.design-delights h3 {
    font-size: 1.8rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #632d8b;
}

.design-delights p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 3.6rem;
}

.design-delights video {
    width: 100%;
}

.experience h3 {
    margin-bottom: 1.6rem;
}

.experience .col-md-5 img {
    width: 100%;
}

.experience .row {
    margin-bottom: 6.4rem;
}

.experience li {
    color: #4c4c4c;
    letter-spacing: 0.15rem;
}

.experience p {
    letter-spacing: 0.1rem;
}

.experience h3 {
    font-family: 'Roboto Condensed';
    font-size: 3rem;
    color: #42047B;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.experience p {
    font-size: 2rem;
    margin-top: 2.4rem;
}

.experience button {
    background: linear-gradient(to right, #42047B, #6D2390);
    border-radius: 5rem;
    padding: 0.7em 4rem;
    border: none;
}

.experience .button-secondary {
    border: 2px solid  #6D2390 !important;
    background: none !important;
    border-radius: 5rem;
    padding: 0.7em 4rem;
    border: none;
}

.experience .button-secondary a {
    color: #6D2390
}

.experience .col-md-6:nth-of-type(2) {
    padding: 6.4rem;
}

.experience button a {
    color: white;
}

.btn-primary {
    max-width: 20rem;
    max-height: 4rem;
    padding: 4rem 20rem;
    background: purple;
    color: white;
    border-radius: 2rem;
}

.custom-list {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#video-container {
    visibility: hidden;
}

.experience img {
    padding-top: 1.2rem;
    padding-left: 1.2rem;
    background-image: url('/images/pink-bg.png');
    background-repeat: no-repeat;
    background-size: 95%;
}

.experience .col-md-5 {
    position: relative;
}

/* Rotating logos */
.experience #golf-ai, .experience #mss, .experience #fp, .experience #mt {
    width: 75px;
    background-image: none;
    position: absolute;
    right: 15px;
    top: 0;
}

.loading {
    opacity: 0;
    -webkit-animation: rotation 5s infinite linear;
    transition: 0.3s linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

/* Image zooming in */

.experience .image {
    background-size: 100% 100%;
    background-position: center;
    transition: 0.3s linear;
    margin-bottom: 2.4rem;
}

.experience .row:nth-of-type(1) .image {
    background-image: url('/images/index/golf-ai.png');
}

.experience .row:nth-of-type(2) .image {
    background-image: url('/images/index/mss.png');
    filter: t;
}

.experience .row:nth-of-type(3) .image {
    background-image: url('/images/index/fp.png');
}

.experience .row:nth-of-type(4) .image {
    background-image: url('/images/index/mt.png');
}

.experience .wrapper {
    padding-top: 1.2rem;
    padding-left: 1.2rem;
    background-image: url('/images/pink-bg.png');
    background-repeat: no-repeat;
    background-size: 90% 90%;
    overflow-x: hidden;

}

/* Mobile */

.sidenav-sm {
    background-color: rgba(222,208, 230, 0.9);
}

.design-delights, .experience {
    width: 90%;
    margin: 0 auto;
}

.experience r {
    margin-bottom: 3.2rem;
}

.experience .image {
    width: 250px;
    height: 250px;
}

.hide-sm {
    display: none;
}

#gif {
    max-width: 200px;
}


@media (min-width: 768px) {

    .hide-sm {
        display: block;
    }

    .hide-lg {
        display: none !important;
    }

    .intro {
        padding-top: 14rem;
        padding-left: 0;
    }

    .intro .hide-sm img {
        max-width: 200px;
    }

    .intro h1 {
        color: #2c2c2c;

        font-size: 2.4rem;
        margin-bottom: 4.8rem;
    }

    .intro h2 {
        font-size: 3.2rem;
    }

    .intro p {
        color: #2c2c2c;
    }

    video {
        width: 30.5rem;
    }

    .main-content {
        background-color: whitesmoke;
        width: 85%;
    }

    .experience img {
        width: 100%;
    }

    .experience .image {
        width: 300px;
        height: 300px;
    }

    .experience ul {
        margin-bottom: 3.2rem;;
    }

    .experience p {
        margin-bottom: 2.4rem;
    }


    #video-container {
        visibility: visible;
        margin-top: -40px;
    }

    .design-delights, .experience {
        padding: 4.8rem 9.6rem;
    }

    .design-delights .row .col-md-5 p {
        font-size: 2.4rem;
    }

    .design-delights {
        padding-top: 9.6rem;
    }

    .design-delights .col-md-7, .experience .col-md-7 {
        padding-left: 6.4rem;
    }

    .experience .image {
        width: 350px;
        height: 350px;
    }

    section {
        width: 100%;
    }

    .sidenav {
        background-color: #DED0E6;
        width: 10%
    }

    .sidenav li a {
        color: #2c2c2c;
        font-weight: lighter;
    }

    .sidenav ul {
        margin-top: 9.2rem;
    }

}
