@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
    font-family: 'Roboto';
    overflow-x: hidden !important
}

.landing {
    background-attachment: fixed;
}

.landing img {
    box-shadow: none;
}

.landing-top img {
    max-width: 75px;
    position: absolute;
    margin-bottom: 0;
    right: 1rem;
    bottom: 1rem;
}

.landing-top {
    height: 60vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.landing-bottom {
    margin-left: 0.8rem;
    padding: 2.4rem 1.2rem;
}

.landing-bottom h1 {
    margin-bottom: 1.2rem;
}

.landing-sm p {
    font-size: 2.4rem;
}

* {
    box-sizing: border-box
  }

.projects .white-card {
    height: calc(100vh - 1.6rem);
    width: 40%;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 3.2rem 6.4rem 0;
}

.projects-logo {
    margin-top: 3.2rem;
    max-width: 200px !important;
    max-height: 200px !important;
}

.projects-intro {
    text-align: left;
}

.intro img {
    box-shadow: none !important;
}

.main-content img {
    width: 100%;
}

/* spacer */
.projects-intro p:nth-of-type(1) {
    margin-bottom: 4.8rem;
}

/* spacer */
.main-content section {
    padding: 5.6rem 0;
}

.extra-space {
    margin-bottom: 5.6rem;
}

h1 {
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: #6e6e6e;
    margin-bottom: 4.8rem;
}

h2 {
    font-size: 3.2rem;
    color: #42047B;
    letter-spacing: 1%;
    
}

.main-content h2 {
    margin-bottom: 1.6rem;
}

h3, h4, h5 {
    font-family: 'Roboto Condensed';
}

h3 {
    font-size: 2.4rem;
    color: #42047B;
    letter-spacing: 1%;
    margin-bottom: 2.4rem; 
    text-transform: uppercase;
    
}

h4 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #4b4b4b;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.h2-alt {
    color: #2C2C2C !important;
    font-size: 2.4rem;
    font-weight: lighter;
}

p, li {
    color: #4b4b4b;
    font-size: 1.8rem;
    line-height: 150%;
    margin-bottom: 2.4rem;
}

.ul-small li {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
    line-height: 130%;
}

.problem {
    border-left: 5px solid red;
    padding-left: 1.2rem;
    margin-bottom: 4.8rem;
    font-style: italic;
}

.problem-title {
    font-weight: 300;
    color: red;
    letter-spacing: 0.3rem;
}

.p-small {
    font-size: 1.6rem !important;
    color: #6e6e6e;
}

.p-large {
    font-family: "Roboto Condensed";
    font-size: 4.5rem;
}

.notable {
    border-left: 2px solid #1a9c5f;
    padding-left: 0.8rem;
}

li {
    margin-bottom: 0.8rem;
}

.sidenav {
    text-align: center;
}

.sidenav .menu .hamburger-icon {
    color: #4b4b4b;
    font-size: 3.2rem;
}

.hamburger-icon:hover {
    cursor: pointer !important;
}

.sidenav .main-nav, .sidenav .project-nav {
    position: absolute;
    top: 24rem;
}

.sidenav .hamburger-icon {
    position: absolute;
    bottom: 4rem;
    left: 0;
    right: 0;
    padding-top: 2.4rem;
    border-top: 2px solid lightgray;
    width: 50%;
    margin: 0 auto;
}

.sidenav img {
    max-width: 75px;
    transform: scale(1.0);
    transition: 0.2s;
    padding-bottom: 2.4rem;
    border-bottom: 2px solid lightgray;
    margin: 0 auto;
}

.sidenav .main-nav {
    display: none;
}

.sidenav img:hover {
    transform: scale(0.8);
    transition: 0.2s;
}

.sidenav li:hover {
    cursor: pointer;
}

.sidenav .active {
    color: purple !important;
}

.sidenav ul {
    margin-bottom: 4.8rem;
}

figcaption {
    font-size: 1.6rem;
}

img, video {
    margin-bottom: 4.8rem;
}

p, li {
    letter-spacing: 0.08rem;
}

h2, h3, h4 {
    line-height: 125%;
}

section {
    scroll-margin: 50px;
}

.reflection {
    padding-bottom: 7.2rem;
}

.thank-you {
    font-size: "Roboto Mono Condensed";
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.next-project h5 {
    font-size: 2.4rem;
    
}

.bottom-content {
    background-color: whitesmoke;
    width: 100% !important;
    margin-bottom: 7.2rem;
}

aside {
    margin-bottom: 3.2rem !important;
}

.main-content {
    width: 95%;
    float: left;
    background: white;
    padding-left: 2.4rem;
}

.next-project {
    position: relative;
    border: 10px solid whitesmoke;
}

.next-project img {
    text-align: center;
    max-width: 200px;
}

.sidenav-sm .active-menu {
    display: none;
    font-size: 1.8rem;
}

.sidenav-sm .project-nav {
    display: none;
}

.sidenav-sm .links img {
    margin-bottom: 1.2rem;
}

.sidenav-sm ul {
    position: fixed;
    top: 13rem;
}

.sidenav-sm .active-menu {
    cursor: pointer;
}

/* mobile */

section {
    margin: 0 auto;
}

.main-content section {
    padding: 2.4rem 0;
}

@media (min-width: 768px) {
    .main-content {
        width: 85%;
        padding: 0 6.4rem;
    }

    .main-content h2 {
        margin-bottom: 4.8rem;
    }

    .main-content section {
        padding: 5.6rem 0;
    }

    .intro img {
        width: 70%;
    }

    .h2-alt {
        margin-left: 2.4rem;
    }

    section {
        scroll-margin: -20px;
    }
}